/*
====================================
  bkock-review
====================================
*/

.bkock-review__title {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.bkock-review__text {
  font-size: 12px;
}

.bkock-review__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
