/*
====================================
  kg-icon-circle-plus
====================================
*/

.kg-icon-circle-plus {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../img/icon/icon-circle-plus.png") no-repeat 50% 50%;
  background-size: contain;
}
