/*
====================================
  pagination
====================================
*/

.pagination>li>a, .pagination>li>span {
  color: #000;
  border-color: transparent;
}

.pagination>li:first-child>a, .pagination>li:last-child>a {
  color: #999;
  font-size: 10px;
  padding-top: 11px;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  border-color: transparent;
  color: #c83600;
  background: transparent;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  border-color: transparent;
  background: transparent;
  color: $orange;
  text-decoration: underline;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  border-color: transparent;
  color: #bbb !important;
}