/*
====================================
  progress-bar
====================================
*/

.progress {
  height: 10px;
  border-radius: 3px;
}

.progress-bar-default {
  background-color: $orange;
}