/*
====================================
  rating
====================================
*/

.kg-rating-star__view {
  font-size: 23px;
}

.kg-rating-star .rate-base-layer {
  color: #cfcfcf;
}

.kg-rating-star .rate-select-layer {
  color: $orange;
}

.kg-rating-star__caption {
  font-size: 11px;
  color: #898989;
}