/*
=======================================
  scroll to up
=======================================
*/
.scrollup-wrap {
  display: none;
  position: fixed;
  right: 25px;
  top: 150px;
  z-index: 1500;
  cursor: pointer;
}

.scrollup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 17px;
  color: #b3b3b3;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 #b3b3b3;
}

.scrollup:hover {
  color: #c83600;
}

#scrollup .glyphicon-triangle-top {
  font-size: 30px;
  line-height: 19px; }
