/*
====================================
  subject-card
====================================
*/

.subject-card {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 15px 20px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  border-bottom: 3px solid transparent;

  .kg-stylized-list > li {
    padding-bottom: 7px;
  }

  .kg-stylized-list > li > h6 {
    margin-bottom: 4px;
  }

  .kg-stylized-list > li > ul > li {
    font-size: 11px;
    padding-left: 5px;
    padding-bottom: 2px;
  }

  .kg-stylized-list > li > ul > li > a {
    text-decoration: underline;
  }

  .kg-video-container {
    width: 260px;
    height: 150px;
    margin-top: 30px;
  }
}

.subject-card_p-r {
  padding-right: 50px;
}

.subject-card_hover {
  border-bottom: 3px solid transparent;
}

.subject-card_hover:hover {
  background: #f9f9f9;
  border-color: $orange;
}

.subject-card .dropdown_icon-portal-evolution {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
  cursor: pointer;
}

.subject-card__icon-favorites {
  position: absolute;
  top: 9px;
  right: 15px;
}

.subject-card__section:nth-child(2) {
  flex-grow: 1;
}

.subject-card__section + .subject-card__section {
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #ddd;
}

.subject-card {
  .thumb-subject {
    width: 160px;
  }

  .thumb-subject_sm {
    width: 115px;
  }
}